package ${packageName}.mapper;

import com.ruoyi.common.baseMapper.BaseMapper;
import ${packageName}.domain.${ClassName};
import java.util.List;

/**
 * ${functionName}Mapper
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface ${ClassName}Mapper extends BaseMapper<${ClassName}> {

    /**
     * 查询${functionName}列表
     * @param ${className}
     */
    List<${ClassName}> select${ClassName}List(${ClassName} ${className});


    /**
     * 批量修改${functionName}
     * @param ${className}
     */
    int batchUpdate${ClassName}(${ClassName} ${className});



    /**
     * 批量删除${functionName}
     *
     * @param ${pkColumn.javaField}s 需要删除的数据ID
     * @return 结果
     */
    public int delete${ClassName}ByIds(String[] ${pkColumn.javaField}s);


    /**
     * 根据ids查询${functionName}
     * @param ${className}
     */
    public int select${ClassName}ByIds(String[] ${pkColumn.javaField}s);

}
